[Unit]
Description=Kwarq Tracker
After=orientdb.service

[Service]
ExecStart=/usr/bin/python3 main.py
WorkingDirectory=/home/pi/embedded
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target